# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# ML Artifacts
# ==========================================
artifacts/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Build Files
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Testing & Coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak